name: Build Eclipse

on:
  workflow_dispatch:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
        - name: Windows
          os: windows-latest
          build-type: RelWithDebInfo

        - name: macOS
          os: macos-latest

        - name: Android32
          os: ubuntu-latest
          target: Android32

        - name: Android64
          os: ubuntu-latest
          target: Android64

    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Build the mod
        uses: geode-sdk/build-geode-mod@main
        with:
          bindings: EclipseMenu/bindings
          bindings-ref: main
          # sdk: nightly 
          combine: true
          export-pdb: true
          target: ${{ matrix.config.target }}
          build-config: ${{ matrix.config.build-type || 'Release' }}

  package:
    name: Package builds
    runs-on: ubuntu-latest
    needs: ['build']

    steps:
      - uses: geode-sdk/build-geode-mod/combine@main
        id: build

      - uses: actions/upload-artifact@v4
        with:
          name: Geode Build
          path: ${{ steps.build.outputs.build-output }}

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ${{ github.workspace }}/bin
          merge-multiple: true

      - name: Get latest release tag
        id: get_latest_release
        run: echo ::set-output name=tag::$(curl -s https://api.github.com/repos/Prevter/OpenHack/releases/latest | jq -r .tag_name)

      - name: Create dev release
        uses: andelf/nightly-release@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: dev
          name: 'Development Release'
          body: |
            This is a dev build of the mod for commit ${{ github.sha }} (${{ github.event.head_commit.message }}).
            
            ## IMPORTANT NOTICE FOR PEOPLE:
            
            Whatever you do, DO NOT download this expecting support, this may not be stable and may contain lots of bugs and issues.
            This release is only meant for my own convenience, still if you want to download this keep in mind that NO support will be available, neither from me, nor the developers of the mod.

            ## Supported Platforms Of This Build:

            1. Windows
            2. Android
            3. MacOS
          files: |
            ${{ github.workspace }}/bin/eclipse.eclipse-menu.geode

          
